<nav>
  <a routerLink="/barChart" routerLinkActive="active">Bar Chart</a>
  <a routerLink="/zoomlineChart" routerLinkActive="active">Zoomline Chart</a>
  <a routerLink="/angulargauge" routerLinkActive="active">Angulargauge Chart</a>
</nav>
<router-outlet></router-outlet>